<div>
  <% if @user.errors.any? %>
    <h3><%= @user.errors.count %>error prohibited this obj from being saved:</h3>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
         <% end %>
      </ul>
  <% end %>
</div>

<%= flash[:notice] %>

<%= render 'books/info', user: @user2 %>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>
              <h6>Title</h6>
            </th>
            <th>
              <h6>Opinion</h6>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
          <tr>
            <td>
              <%= image_tag @user.get_profile_image(80,80) %>
            </td>
            <td>
              <%= link_to book_path(book.id) do %>
              <%= book.title %>
              <% end %>
            </td>
            <td>
              <%= book.body %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


  <%= render 'books/edit', user: @user2 %>

  <%= render 'books/list', book: @book %>