<%= flash[:notice] %>
<%= flash[:success] %>

<%= render 'info',user: @booker.user %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @booker.user.get_profile_image(80,80) %>
              <%= link_to user_path(@booker.user_id) do %>
                <%= @booker.user.name %>
              <% end %>
            </td>

            <td>
              <%= link_to book_path(@booker.id) do %>
                <%= @booker.title %>
              <% end %>
            </td>
            <td>
              <%= @booker.body %>
            </td>
            <% if @booker.user_id == current_user.id %>
            <td>
              <%= link_to edit_book_path(@booker.id) do %>
                <button type="button" class="btn btn-success">Edit</button>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@booker.id),method: :delete, "data-confirm" => "本当に消しますか?" do %>
                <button type="button" class="btn btn-danger">Destroy</button>
              <% end %>
            </td>
            <% end %>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

<%= render 'edit', user: @user2 %>

<%= render 'list', book: @book %>


</div>